@model Homework_Menu_MVC_Core.Models.ViewModels.SupplyListAndSupplyViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supply</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Ingredient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Ingredient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.ExpirationDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
